
.mainFoot {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.footer {
    display: flex;
    justify-content: space-around;
    @media (width < 870px) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

.footer h4 {
    color: rgb(54, 133, 250);
    font-size: 30px;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    @media (width < 870px) {
        align-items: center;
        gap: 10px;
    }
}

.subItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    @media (width < 870px) {
        align-items: center;
    }
}

.mail {
    color: blue;
}

.medias {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    gap: 10%;
}

img {
    cursor: pointer;
}

.copyrights {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    border-top: solid 1px;
    padding-top: 20px;
}

.privacy {
    text-decoration: underline;
    color: blue;
}

@media (width < 870px) {
    .footer h4 {
        font-size: 20px;
    }
    .ico {
        width: 18px;
    }
    .copyrights {
        font-size: 12px;
    }
}










